.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 4px;
  z-index: 10;
  border-bottom: 1px solid #212121;
  background-color: rgba(17, 17, 17, 0.881);
  backdrop-filter: blur(10px);
}

.gradient {
  position: sticky;
  top: 0;
  height: 4px;
  z-index: 10;
  background: linear-gradient(
    270deg,
    #4c63b6 0%,
    #bc72de 33.65%,
    #cb4b73 62.81%,
    #ea8c55 100%
  );
}

.navbar {
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo h2 {
  font-size: 24px;
  font-weight: 600;
}

.logo img {
  width: 150px;
  margin-bottom: -10px;
}

.links {
  display: flex;
  align-items: center;
  gap: 4px;
  list-style: none;
}

.links li {
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #a0a0a0;
  font-weight: 600;
}

.links li:hover {
  background-color: #292929;
  color: white;
}

.active {
  background-color: #292929;
  color: white !important;
}

.menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .container {
    position: fixed;
    top: initial;
    bottom: 10%;
    right: 16px;
    width: max-content;
    height: 50vh;
    border-bottom: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(0);
    clip-path: circle(0% at 70% 96%);
    transition: all 0.4s ease-out;
  }

  .clip {
    clip-path: circle(80% at 83% 85%);
  }

  .menu {
    background-color: #cacaca;
    mix-blend-mode: difference;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 57px;
    right: 10px;
    translate: -50% 50%;
    z-index: 11;
  }

  .navbar {
    padding: 1.4rem;
    align-items: flex-end;
    width: max-content;
    margin: 0 auto;
    margin-top: auto;
  }

  .logo {
    display: none;
  }

  .logo img {
    width: 60px;
  }

  .links {
    gap: 12px;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
  }

  .links li {
    padding: 8px 12px;
    background-color: #cacaca;
    color: #303030;
    font-size: 18px;
  }

  .links li:hover {
    background-color: #cacaca;
    color: #303030;
  }

  .active {
    background-color: white !important;
    color: black !important;
  }
}
