.hero h1 {
  font-size: 60px;
  font-weight: 700;
}

.hero p {
  font-size: 18px;
  line-height: 2;
  color: #a5a5a5;
}

#desc {
  margin-top: 4.5rem;
}

#desc + p {
  margin-top: 2rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6rem;
}

.socials span {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials span:hover {
  background-color: #343434;
}

.icon {
  font-size: 28px;
  color: #adadad;
}

#email {
  margin-left: 24px;
  color: white;
  border: 1px solid #2f2f2f;
  outline: none;
  border-radius: 30px;
  padding: 11px 18px;
  letter-spacing: 1.2px;
  font-weight: 400;
  background-color: #242424;
  font-size: 14px;
}

#email:hover {
  background-color: #2c2c2c;
}
