.children {
  max-width: 880px;
  margin: 0 auto;
  padding-block: 4.5rem;
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  .children {
    padding: 2rem;
    padding-bottom: 8rem;
  }
}
