.hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: #dddddd;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 18px;
  line-height: var(--line-height);
  color: #a5a5a5;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.card img {
  border-radius: 8px;
  width: 100%;
  filter: brightness(0.8) contrast(1.2);
  margin-bottom: 40px;
}

.info {
  width: var(--width);
  margin: 0 auto;
}

.info h4 {
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #eaeaea;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.desc p {
  color: #b1b1b1;
  font-size: 16px;
  line-height: var(--line-height);
}

.skills {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.skills span {
  font-size: 16px;
  font-weight: 800;
  color: #b1b1b1;
}

.info button {
  border: 1px solid #363636;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 30px;
  color: white;
}

.info button:hover {
  background-color: #272727;
}

@media only screen and (max-width: 800px) {
  .hero h1 {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  .hero p {
    color: #b1b1b1;
  }

  .card img {
    margin-bottom: 28px;
  }

  .info h4 {
    font-size: 22px;
    font-weight: 800;
    /* text-align: center; */
  }

  .desc p {
    /* text-align: center; */
  }

  .skills {
    gap: 16px;
    /* justify-content: center; */
  }

  .skills span {
    font-size: 14px;
  }

  .info button {
    /* margin: 0 auto; */
  }
}
